:root {
  --accent-color: #2468ff;
  --main-color: #ffffff;
  --main-text-color: #404040;
  --total-black: #000000;
  --alpha-color-grey: rgba(64, 64, 64, 0.3);
  --main-font: 'Roboto', sans-serif;
  --main-margin: 30px;
  --section-padding: 94px;
}

body {
  font-family: var(--main-font);
  line-height: 1.4;
  letter-spacing: 0.03em;
  background-color: var(--main-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.container {width: 1440px;
padding: 0 20px;
margin: 0 auto;}