:root {
  --accent-color: #2468ff;
  --main-color: #ffffff;
  --main-text-color: #404040;
  --total-black: #000000;
  --alpha-color-grey: rgba(64, 64, 64, 0.3);
  --main-font: 'Roboto', sans-serif;
  --main-margin: 30px;
  --section-padding: 94px;
}
body {
  font-family: var(--main-font);
  line-height: 1.4;
  letter-spacing: 0.03em;
  background-color: var(--main-color);
  color: var(--main-text-color);
}
